In [23]:
import pandas as pd
import plotly.express as px
import numpy as np

In [24]:
import glob
from IPython.display import display

# Load the data

# Get list of all CSV filenames in the folder
csv_files = glob.glob('../../data/processed/*.csv')

# Read each csv file and store the resulting DataFrame in a list
dfs = [(pd.read_csv(file), file.title()) for file in csv_files]

# Optionally, concatenate them into a single DataFrame
# df_all = pd.concat(dfs, ignore_index=True)

for df in dfs:
    print('hello')
    print()
    display(df[1], df[0].head(20))
    display(df[0].info())

csv_files

hello

'../../Data/Processed/Processed_Distances.Csv'

,cmun,municipality_name,province,altitude,longitude,latitude,nearest_airport,closest_distance_airport,nearest_train_station,closest_distance_train,closest_distance_hospital,nearest_hospital
0,1001,Alegría-Dulantzi,Álava,561.6857,-2.513507,42.84149,Aeropuerto de Vitoria,18.273217,Alegria-Dulantzi,0.819736,12.665248,Hospital Quirónsalud Vitoria
1,1002,Amurrio,Álava,219.6910,-3.001022,43.05265,Aeropuerto de Bilbao,28.762394,Nanclares-Langraiz,30.756835,23.370718,Sanatorio Bilbaíno
2,1003,Aramaio,Álava,381.8797,-2.566000,43.05400,Aeropuerto de Vitoria,23.639652,Alegria-Dulantzi,23.176277,6.852571,Organización Sanitaria Integrada Alto Deba
3,1004,Artziniega,Álava,196.9808,-3.128209,43.12220,Aeropuerto de Bilbao,26.840606,Nanclares-Langraiz,43.021998,21.025189,Hospital De Basurto
4,1006,Armiñón,Álava,463.5815,-2.872574,42.72305,Aeropuerto de Vitoria,20.846277,Manzanos,2.240750,11.270621,Hospital Santiago Apóstol
5,1009,Asparrena,Álava,631.6520,-2.321000,42.89567,Aeropuerto de Vitoria,33.555830,Araia,3.133054,20.900881,Hospital De Zumarraga
6,1010,Ayala/Aiara,Álava,300.2789,-3.063056,43.08333,Aeropuerto de Bilbao,27.404967,Nanclares-Langraiz,36.388908,21.727856,Hospital De Basurto
7,1011,Baños de Ebro/Mañueta,Álava,428.0221,-2.679144,42.53029,Aeropuerto de Logroño - Agoncillo,30.766547,Haro,15.177004,6.069528,Hospital De Leza
8,1013,Barrundia,Álava,555.0674,-2.491817,42.91669,Aeropuerto de Vitoria,19.988072,Alegria-Dulantzi,7.764145,16.202816,Hospital Quirónsalud Vitoria
9,1014,Berantevilla,Álava,468.8318,-2.860401,42.68245,Aeropuerto de Vitoria,24.276787,Miranda De Ebro,6.679244,10.675992,Hospital Santiago Apóstol
10,1016,Bernedo,Álava,713.1542,-2.497532,42.62669,Aeropuerto de Logroño - Agoncillo,23.743743,Logroño,19.355517,12.876812,Hospital De Leza
11,1017,Campezo/Kanpezu,Álava,742.2458,-2.370000,42.69194,Aeropuerto de Logroño - Agoncillo,26.170376,Agurain/Salvatierra De Alava,17.234778,25.502440,Hospital General De La Rioja
12,1018,Zigoitia,Álava,599.7416,-2.718300,42.96820,Aeropuerto de Vitoria,9.947284,Vitoria/Gasteiz,14.557206,12.784143,Hospital Universitario De Araba (Sede Txagorri...
13,1019,Kripan,Álava,695.0848,-2.516079,42.59167,Aeropuerto de Logroño - Agoncillo,21.956052,Logroño,16.130594,10.210229,Hospital De Leza
14,1020,Kuartango,Álava,572.6608,-2.885556,42.87139,Aeropuerto de Vitoria,12.644667,Nanclares-Langraiz,8.998869,16.067858,Hospital Universitario De Araba (Sede Txagorri...
15,1021,Elburgo/Burgelu,Álava,540.8835,-2.544762,42.84956,Aeropuerto de Vitoria,15.583158,Alegria-Dulantzi,2.470736,10.076309,Hospital Quirónsalud Vitoria
16,1022,Elciego,Álava,461.4185,-2.618277,42.51507,Aeropuerto de Logroño - Agoncillo,25.502564,Logroño,15.936031,6.970718,Hospital De Leza
17,1023,Elvillar/Bilar,Álava,592.0000,-2.544915,42.57050,Aeropuerto de Logroño - Agoncillo,22.399332,Logroño,15.187899,7.718854,Hospital De Leza
18,1027,Iruraiz-Gauna,Álava,601.8067,-2.495043,42.82207,Aeropuerto de Vitoria,20.314917,Alegria-Dulantzi,3.373505,14.474096,Hospital Quirónsalud Vitoria
19,1028,Labastida/Bastida,Álava,547.1730,-2.793166,42.59042,Aeropuerto de Vitoria,32.474705,Haro,4.666759,12.786285,Hospital De Leza

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7952 entries, 0 to 7951
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   cmun                       7952 non-null   int64
 1   municipality_name          7952 non-null   object
 2   province                   7952 non-null   object
 3   altitude                   7952 non-null   float64
 4   longitude                  7952 non-null   float64
 5   latitude                   7952 non-null   float64
 6   nearest_airport            7952 non-null   object
 7   closest_distance_airport   7952 non-null   float64
 8   nearest_train_station      7952 non-null   object
 9   closest_distance_train     7952 non-null   float64
 10  closest_distance_hospital  7952 non-null   float64
 11  nearest_hospital           7952 non-null   object
dtypes: float64(6), int64(1), object(5)
memory usage: 745.6+ KB

None

hello

'../../Data/Processed/Filtered_Municipalities.Csv'

,province,municipality_name,municipality_name_clean,province_clean,altitude,longitude,latitude,cmun
0,Álava,Alegría-Dulantzi,alegria-dulantzi,alava,561.6857,-2.513507,42.84149,1001
1,Álava,Amurrio,amurrio,alava,219.6910,-3.001022,43.05265,1002
2,Álava,Aramaio,aramaio,alava,381.8797,-2.566000,43.05400,1003
3,Álava,Artziniega,artziniega,alava,196.9808,-3.128209,43.12220,1004
4,Álava,Armiñón,arminon,alava,463.5815,-2.872574,42.72305,1006
5,Álava,Asparrena,asparrena,alava,631.6520,-2.321000,42.89567,1009
6,Álava,Ayala/Aiara,ayala,alava,300.2789,-3.063056,43.08333,1010
7,Álava,Baños de Ebro/Mañueta,banos de ebro,alava,428.0221,-2.679144,42.53029,1011
8,Álava,Barrundia,barrundia,alava,555.0674,-2.491817,42.91669,1013
9,Álava,Berantevilla,berantevilla,alava,468.8318,-2.860401,42.68245,1014
10,Álava,Bernedo,bernedo,alava,713.1542,-2.497532,42.62669,1016
11,Álava,Campezo/Kanpezu,campezo,alava,742.2458,-2.370000,42.69194,1017
12,Álava,Zigoitia,zigoitia,alava,599.7416,-2.718300,42.96820,1018
13,Álava,Kripan,kripan,alava,695.0848,-2.516079,42.59167,1019
14,Álava,Kuartango,kuartango,alava,572.6608,-2.885556,42.87139,1020
15,Álava,Elburgo/Burgelu,elburgo,alava,540.8835,-2.544762,42.84956,1021
16,Álava,Elciego,elciego,alava,461.4185,-2.618277,42.51507,1022
17,Álava,Elvillar/Bilar,elvillar,alava,592.0000,-2.544915,42.57050,1023
18,Álava,Iruraiz-Gauna,iruraiz-gauna,alava,601.8067,-2.495043,42.82207,1027
19,Álava,Labastida/Bastida,labastida,alava,547.1730,-2.793166,42.59042,1028

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7952 entries, 0 to 7951
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   province                 7952 non-null   object
 1   municipality_name        7952 non-null   object
 2   municipality_name_clean  7952 non-null   object
 3   province_clean           7952 non-null   object
 4   altitude                 7952 non-null   float64
 5   longitude                7952 non-null   float64
 6   latitude                 7952 non-null   float64
 7   cmun                     7952 non-null   int64
dtypes: float64(3), int64(1), object(4)
memory usage: 497.1+ KB

None

hello

'../../Data/Processed/Filtered_Schools.Csv'

,school_id,public_private,type,name,latitude,longitude
0,1,Public,Colegio público de educación infantil y primar...,CPEIP Abarzuza Zumadia HLHIP,42.726290,-2.022176
1,2,Public,Escuela pública de música,Esc. Mús. Púb. Ablitas,41.975297,-1.640062
2,3,Public,Escuela infantil,EI Ablitas Mi Cole,41.974719,-1.641089
3,4,Public,Colegio de educación infantil y primaria,CPEIP Ablitas S. Babil HLHIP,41.974047,-1.641728
4,5,Public,Colegio de educación infantil y primaria,CPEIP Aibar G. V. Casamayor HLHIP,42.590753,-1.361802
5,6,Public,Escuela infantil,EI Allo,42.570003,-2.020503
6,7,Public,Colegio de educación infantil y primaria,CPEIP Allo La Cruz HLHIP,42.569913,-2.020504
7,8,Public,Colegio público de educación infantil y primar...,CPEIP Almandoz HLHIP,43.089999,-1.606045
8,9,Public,Instituto de educación secundaria/bigarren hez...,IES Altsasu BHI,42.905033,-2.165718
9,10,Public,Escuela pública de música y danza,Esc. Mús. Púb. Altsasu,42.894615,-2.173118
10,11,Public,Aula de educación de adultos,CEBA Alsasua,42.899859,-2.173183
11,12,Public,Centro integrado politécnico,CIP Altsasu FP Sakana LH IIP,42.899769,-2.173184
12,13,Charter,Centro privado de educación infantil y primaria,Ik Altsasu Iñigo Aritza,42.904655,-2.165008
13,14,Charter,Centro privado de educación infantil y primaria,C.Con. Alsasua Sg. Corazón,42.893092,-2.178858
14,15,Charter,Centro privado de educación secundaria obligat...,Ik Altsasu Sakana,42.906526,-2.163679
15,16,Charter,Centro privado de educación secundaria obligat...,C.Con. Alsasua Seminario,42.893182,-2.178857
16,17,Private,Centro privado de educación infantil,C. Pri. EI Altsasu Txioka HE,42.896087,-2.164297
17,18,Public,Escuela infantil,EI Altsasu Txirinbulo HE,42.893497,-2.170881
18,19,Public,Colegio público de educación infantil y primar...,CPEIP Altsasu Zelandi HLHIP,42.897558,-2.173323
19,20,Public,Colegio público de educación infantil y primar...,CPEIP Amaiur/Maya HLHIP,43.201789,-1.478173

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26606 entries, 0 to 26605
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   school_id       26606 non-null  int64
 1   public_private  25028 non-null  object
 2   type            26370 non-null  object
 3   name            26606 non-null  object
 4   latitude        26592 non-null  float64
 5   longitude       26592 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.2+ MB

None

hello

'../../Data/Processed/Filtered_Industry.Csv'

,cmun,n_industry,n_construction,n_info_communications,n_financial_insurance,n_real_estate,n_professional_technical,n_eduation_health_social,n_other
0,1001,18.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1002,63.0,89.0,7.0,10.0,5.0,86.0,46.0,51.0
2,1003,6.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1004,5.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1009,14.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1010,26.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1017,6.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1018,16.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,1022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cmun                      8136 non-null   int64
 1   n_industry                8136 non-null   float64
 2   n_construction            8136 non-null   float64
 3   n_info_communications     8136 non-null   float64
 4   n_financial_insurance     8136 non-null   float64
 5   n_real_estate             8136 non-null   float64
 6   n_professional_technical  8136 non-null   float64
 7   n_eduation_health_social  8136 non-null   float64
 8   n_other                   8136 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 572.2 KB

None

hello

'../../Data/Processed/Filtered_Trains.Csv'

,station_code,station_name,latitude,longitude,province_clean,municipality_clean
0,11208,Vitoria/Gasteiz,42.841528,-2.672665,alava,vitoria-gasteiz
1,11212,Agurain/Salvatierra De Alava,42.846437,-2.389227,alava,agurain
2,11213,Araia,42.869471,-2.306802,alava,arraia-maeztu
3,11203,Manzanos,42.742875,-2.867530,alava,erribera beitia
4,11205,Nanclares-Langraiz,42.816234,-2.804934,alava,iruna de oca
5,11210,Alegria-Dulantzi,42.848829,-2.514552,alava,alegria-dulantzi
6,60600,Albacete Los Llanos,39.000298,-1.848736,albacete,albacete
7,60507,La Gineta,39.111719,-2.000316,albacete,"gineta, la"
8,61005,Hellin,38.508857,-1.688572,albacete,hellin
9,60500,Villarrobledo,39.260852,-2.598554,albacete,villarrobledo
10,60503,Minaya,39.240726,-2.348443,albacete,minaya
11,60505,La Roda De Albacete,39.199397,-2.162895,albacete,"roda, la"
12,60800,Almansa,38.867773,-1.105436,albacete,almansa
13,60901,Caudete,38.716149,-0.959713,albacete,caudete
14,3309,Villena Alta Velocidad,38.584608,-0.873474,alacant,villena
15,60902,Villena,38.631817,-0.867668,alacant,villena
16,60900,La Encina,38.765378,-0.954283,alacant,villena
17,60905,Elda-Petrer,38.484919,-0.801055,alacant,elda
18,60904,Sax,38.544753,-0.814218,alacant,sax
19,60907,Novelda-Aspe,38.407167,-0.777729,alacant,novelda

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646 entries, 0 to 645
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   station_code        646 non-null    int64
 1   station_name        646 non-null    object
 2   latitude            646 non-null    float64
 3   longitude           646 non-null    float64
 4   province_clean      603 non-null    object
 5   municipality_clean  646 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 30.4+ KB

None

hello

'../../Data/Processed/Filtered_Connectivity.Csv'

,cmun,municipality,number_of_houses,VDSL_30Mbps,fixed_wireless,FTTH,HFC,reception_30Mbps,reception_100Mbps,reception_1Gbps,4G,5G,"5G_3,5GHz"
0,1001,Alegría-Dulantzi,1275.0,0.29,1.00,0.99,0.0,1.00,0.81,0.15,1.00,0.01,0.00
1,1002,Amurrio,4937.0,0.10,1.00,0.92,0.0,0.93,0.87,0.89,1.00,0.96,0.00
2,1003,Aramaio,738.0,0.21,0.94,0.85,0.0,0.89,0.78,0.84,1.00,0.60,0.00
3,1004,Artziniega,1099.0,0.11,1.00,0.87,0.0,0.98,0.95,0.97,1.00,0.84,0.00
4,1006,Armiñón,180.0,0.00,0.53,0.87,0.0,0.99,0.84,0.90,0.96,0.00,0.00
5,1008,Arratzua-Ubarrundia,543.0,0.04,0.91,0.68,0.0,0.96,0.92,0.93,1.00,0.72,0.24
6,1009,Asparrena,1093.0,0.12,0.95,0.87,0.0,0.97,0.86,0.88,1.00,0.95,0.00
7,1010,Ayala/Aiara,1596.0,0.06,0.98,0.82,0.0,0.94,0.87,0.92,1.00,0.78,0.00
8,1011,Baños de Ebro/Mañueta,262.0,0.00,1.00,0.95,0.0,1.00,0.94,0.98,1.00,1.00,0.00
9,1013,Barrundia,571.0,0.02,0.98,0.83,0.0,0.89,0.77,0.79,0.99,0.06,0.00
10,1014,Berantevilla,338.0,0.00,0.74,0.76,0.0,0.92,0.76,0.78,0.94,0.92,0.00
11,1016,Bernedo,633.0,0.00,0.81,0.86,0.0,0.89,0.88,0.89,1.00,0.00,0.00
12,1017,Campezo/Kanpezu,901.0,0.05,1.00,0.95,0.0,1.00,0.97,0.97,1.00,0.87,0.00
13,1018,Zigoitia,1051.0,0.06,0.88,0.88,0.0,0.97,0.93,0.96,1.00,0.75,0.01
14,1019,Kripan,136.0,0.00,1.00,0.98,0.0,1.00,0.99,0.99,1.00,0.00,0.00
15,1020,Kuartango,328.0,0.00,0.99,0.87,0.0,0.95,0.84,0.88,1.00,0.00,0.00
16,1021,Elburgo/Burgelu,296.0,0.15,0.93,0.98,0.0,0.99,0.98,0.98,1.00,0.56,0.00
17,1022,Elciego,853.0,0.10,1.00,0.98,0.0,1.00,0.96,0.99,1.00,0.86,0.00
18,1023,Elvillar/Bilar,299.0,0.18,1.00,0.96,0.0,1.00,0.97,0.98,1.00,0.00,0.00
19,1027,Iruraiz-Gauna,296.0,0.00,0.86,0.66,0.0,0.92,0.66,0.67,1.00,0.53,0.00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8131 entries, 0 to 8130
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cmun               8131 non-null   int64
 1   municipality       8131 non-null   object
 2   number_of_houses   8131 non-null   float64
 3   VDSL_30Mbps        8131 non-null   float64
 4   fixed_wireless     8131 non-null   float64
 5   FTTH               8131 non-null   float64
 6   HFC                8131 non-null   float64
 7   reception_30Mbps   8131 non-null   float64
 8   reception_100Mbps  8131 non-null   float64
 9   reception_1Gbps    8131 non-null   float64
 10  4G                 8131 non-null   float64
 11  5G                 8131 non-null   float64
 12  5G_3,5GHz          8131 non-null   float64
dtypes: float64(11), int64(1), object(1)
memory usage: 825.9+ KB

None

hello

'../../Data/Processed/Filtered_Climate.Csv'

,cmun,municipality,province,altitude,longitude,latitude,Koppen_Climate,description
0,1001,Alegría-Dulantzi,Álava,561.6857,-2.513507,42.84149,Cfb,Oceanic Climate - Mild temperatures and consis...
1,1002,Amurrio,Álava,219.6910,-3.001022,43.05265,Cfb,Oceanic Climate - Mild temperatures and consis...
2,1003,Aramaio,Álava,381.8797,-2.566000,43.05400,Cfb,Oceanic Climate - Mild temperatures and consis...
3,1004,Artziniega,Álava,196.9808,-3.128209,43.12220,Cfb,Oceanic Climate - Mild temperatures and consis...
4,1006,Armiñón,Álava,463.5815,-2.872574,42.72305,Csb,"Mediterranean Warm Summer - Cooler, wet winter..."
5,1009,Asparrena,Álava,631.6520,-2.321000,42.89567,Cfb,Oceanic Climate - Mild temperatures and consis...
6,1010,Ayala/Aiara,Álava,300.2789,-3.063056,43.08333,Cfb,Oceanic Climate - Mild temperatures and consis...
7,1011,Baños de Ebro/Mañueta,Álava,428.0221,-2.679144,42.53029,Csb,"Mediterranean Warm Summer - Cooler, wet winter..."
8,1013,Barrundia,Álava,555.0674,-2.491817,42.91669,Cfb,Oceanic Climate - Mild temperatures and consis...
9,1014,Berantevilla,Álava,468.8318,-2.860401,42.68245,Csb,"Mediterranean Warm Summer - Cooler, wet winter..."
10,1016,Bernedo,Álava,713.1542,-2.497532,42.62669,Cfb,Oceanic Climate - Mild temperatures and consis...
11,1017,Campezo/Kanpezu,Álava,742.2458,-2.370000,42.69194,Cfb,Oceanic Climate - Mild temperatures and consis...
12,1018,Zigoitia,Álava,599.7416,-2.718300,42.96820,Cfb,Oceanic Climate - Mild temperatures and consis...
13,1019,Kripan,Álava,695.0848,-2.516079,42.59167,Csb,"Mediterranean Warm Summer - Cooler, wet winter..."
14,1020,Kuartango,Álava,572.6608,-2.885556,42.87139,Csb,"Mediterranean Warm Summer - Cooler, wet winter..."
15,1021,Elburgo/Burgelu,Álava,540.8835,-2.544762,42.84956,Cfb,Oceanic Climate - Mild temperatures and consis...
16,1022,Elciego,Álava,461.4185,-2.618277,42.51507,Csb,"Mediterranean Warm Summer - Cooler, wet winter..."
17,1023,Elvillar/Bilar,Álava,592.0000,-2.544915,42.57050,Csb,"Mediterranean Warm Summer - Cooler, wet winter..."
18,1027,Iruraiz-Gauna,Álava,601.8067,-2.495043,42.82207,Cfb,Oceanic Climate - Mild temperatures and consis...
19,1028,Labastida/Bastida,Álava,547.1730,-2.793166,42.59042,Csb,"Mediterranean Warm Summer - Cooler, wet winter..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7952 entries, 0 to 7951
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cmun            7952 non-null   int64
 1   municipality    7952 non-null   object
 2   province        7952 non-null   object
 3   altitude        7952 non-null   float64
 4   longitude       7952 non-null   float64
 5   latitude        7952 non-null   float64
 6   Koppen_Climate  7935 non-null   object
 7   description     7791 non-null   object
dtypes: float64(3), int64(1), object(4)
memory usage: 497.1+ KB

None

hello

'../../Data/Processed/Filtered_Airports.Csv'

    airport_id                         airport_name   latitude  longitude
0            1                  Aeropuerto de Jerez  36.743828  -6.062658
1            2                   Aeropuerto de Vigo  42.225740  -8.630491
2            3                Aeropuerto de Badajoz  38.889845  -6.821121
3            4  Aeropuerto de Granada - Jaén F.G.L.  37.186826  -3.778613
4            5                Aeropuerto de Almería  36.844781  -2.371234
5            6             Aeropuerto de Salamanca   40.950757  -5.502955
6            7                  Aeropuerto de Ibiza  38.874352   1.372669
7            8              Aeropuerto de Lanzarote  28.951045 -13.605020
8            9               Aeropuerto de La Palma  28.622084 -17.753653
9           10        Aeropuerto de Tenerife Norte   28.485811 -16.347639
10          11              Aeropuerto de La Gomera  28.031163 -17.211970
11          12          Aeropuerto de Tenerife Sur   28.045488 -16.575306
12          13           Aeropuerto de Gran Canaria  27.931111 -15.387094
13          14              Aeropuerto de El Hierro  27.814841 -17.886954
14          15               Aeropuerto de Asturias  43.562196  -6.032618
15          16             Aeropuerto de Valladolid  41.709020  -4.848254
16          17           Santander-Seve Ballesteros  43.426146  -3.822816
17          18          Aeropuerto de San Sebastián  43.356409  -1.791606
18          19                 Aeropuerto de Bilbao  43.302507  -2.908358
19          20                Aeropuerto de Córdoba  37.843869  -4.846947

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   airport_id    48 non-null     int64
 1   airport_name  48 non-null     object
 2   latitude      48 non-null     float64
 3   longitude     48 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.6+ KB

None

hello

'../../Data/Processed/Filtered_Demographics.Csv'

,cmun,municipality_clean,province_clean,0-17,18-24,25-34,35-54,55+,male,female,total_population
0,1001,alegria-dulantzi,araba/alava,615,250,268,1005,827,1525,1440,2965
1,1002,amurrio,araba/alava,1826,588,862,2961,4075,5134,5178,10312
2,1003,aramaio,araba/alava,218,113,108,349,592,709,671,1380
3,1004,artziniega,araba/alava,352,127,146,576,655,914,942,1856
4,1006,arminon,araba/alava,42,20,18,96,70,127,119,246
5,1008,arratzua-ubarrundia,araba/alava,168,71,90,286,431,551,495,1046
6,1009,asparrena,araba/alava,229,110,145,444,685,814,799,1613
7,1010,ayala/aiara,araba/alava,550,208,226,945,1010,1490,1449,2939
8,1011,banos,araba/alava,20,24,21,86,141,168,124,292
9,1013,barrundia,araba/alava,120,74,55,267,363,490,389,879
10,1014,berantevilla,araba/alava,71,34,32,135,196,243,225,468
11,1016,bernedo,araba/alava,63,25,42,165,249,318,226,544
12,1017,campezo/kanpezu,araba/alava,146,72,96,297,477,576,512,1088
13,1018,zigoitia,araba/alava,302,136,117,545,745,992,853,1845
14,1019,kripan,araba/alava,20,16,16,41,85,91,87,178
15,1020,kuartango,araba/alava,66,10,25,109,199,229,180,409
16,1021,elburgo/burgelu,araba/alava,106,49,47,206,233,333,308,641
17,1022,elciego,araba/alava,157,61,83,260,392,477,476,953
18,1023,elvillar/bilar,araba/alava,37,25,23,83,152,151,169,320
19,1027,iruraiz-gauna,araba/alava,71,42,51,166,220,298,252,550

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8132 entries, 0 to 8131
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cmun                8132 non-null   int64
 1   municipality_clean  8132 non-null   object
 2   province_clean      8132 non-null   object
 3   0-17                8132 non-null   int64
 4   18-24               8132 non-null   int64
 5   25-34               8132 non-null   int64
 6   35-54               8132 non-null   int64
 7   55+                 8132 non-null   int64
 8   male                8132 non-null   int64
 9   female              8132 non-null   int64
 10  total_population    8132 non-null   int64
dtypes: int64(9), object(2)
memory usage: 699.0+ KB

None

hello

'../../Data/Processed/Filtered_Hospitals.Csv'

,cmun,hospital_name,n_beds,type,management,latitude,longitude
0,10590,Red De Salud Mental De Araba (Hospital Psiquiá...,207,Psychiatric,Autonomous Community,42.835656,-2.678612
1,10590,Hospital San José,63,Medical-surgical,Private Non-Profit,42.849661,-2.676640
2,10590,Hospital Quirónsalud Vitoria,26,General,Private Non-Profit,42.849761,-2.668035
3,10590,"Hospital De Cuidados San Onofre, S.L. (Hospita...",82,Geriatrics and/or long-term care,Private Non-Profit,42.837582,-2.680386
4,10318,Hospital De Leza,63,General,Autonomous Community,42.575989,-2.638635
5,10590,Hospital Universitario De Araba (Sede Txagorri...,811,General,Social Security,42.854990,-2.690207
6,20030,Complejo Hospitalario Universitario De Albacete,705,General,Social Security,38.985256,-1.846557
7,20030,Hospital General Universitario De Albacete,0,General,Social Security,38.983255,-1.850670
8,20030,Clínica Santa Cristina Albacete,42,General,Private Non-Profit,38.989793,-1.857710
9,20371,Hospital De Hellín,135,General,Social Security,38.504305,-1.689190
10,20030,Quironsalud Hospital Albacete,65,General,Private Non-Profit,38.985419,-1.844007
11,20030,Hospital Universitario Nuestra Señora Del Perp...,0,General,Social Security,38.989562,-1.872110
12,20096,Hospital General De Almansa,93,General,Autonomous Community,38.879403,-1.093909
13,20812,Hospital General De Villarobledo,114,General,Autonomous Community,39.280084,-2.602697
14,20030,"Centro De Atención A La Salud Mental ""La Milag...",0,Psychiatric,Provincial Council or Island Council,39.007682,-1.880650
15,30149,Hospital General Universitario De Alicante,794,General,Autonomous Community,38.363364,-0.485935
16,30149,Clínica Vistahermosa Grupo Hla,106,General,Private Non-Profit,38.362865,-0.463124
17,30149,Vithas Hospital Perpetuo Internacional,103,General,Private Non-Profit,38.352894,-0.476505
18,30092,Hospital Virgen De Los Lirios,305,General,Autonomous Community,38.705125,-0.465684
19,30092,Sanatorio San Jorge S.L.,26,General,Private Non-Profit,38.692974,-0.486100

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cmun           924 non-null    int64
 1   hospital_name  924 non-null    object
 2   n_beds         924 non-null    int64
 3   type           924 non-null    object
 4   management     924 non-null    object
 5   latitude       924 non-null    float64
 6   longitude      924 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 50.7+ KB

None

['../../data/processed/processed_distances.csv',
 '../../data/processed/filtered_municipalities.csv',
 '../../data/processed/filtered_schools.csv',
 '../../data/processed/filtered_industry.csv',
 '../../data/processed/filtered_trains.csv',
 '../../data/processed/filtered_connectivity.csv',
 '../../data/processed/filtered_climate.csv',
 '../../data/processed/filtered_airports.csv',
 '../../data/processed/filtered_demographics.csv',
 '../../data/processed/filtered_hospitals.csv']