In [177]:
import os
import pandas as pd

processed_dir = '../data/processed/filtered_files'
csv_files = [f for f in os.listdir(processed_dir) if f.endswith('.csv')]

dataframes = {}
for file in csv_files:
    df_name = os.path.splitext(file)[0]
    df_name = "df_" + df_name.split("_")[1]
    df_path = os.path.join(processed_dir, file)
    dataframes[df_name] = pd.read_csv(df_path, encoding="utf-8")
# Display the names of the loaded DataFrames

In [178]:
# Ensure that df_distances is available from the existing dataframes dictionary.
df_distances = dataframes.get("df_distances")
df_municipalities = dataframes.get("df_municipalities")
df_schools = dataframes.get("df_schools")
df_industry = dataframes.get("df_industry")
df_trains = dataframes.get("df_trains")
df_connectivity = dataframes.get("df_connectivity")
df_climate = dataframes.get("df_climate")
df_airports = dataframes.get("df_airports")
df_hospitals = dataframes.get("df_hospitals")
df_demographics = dataframes.get("df_demographics")
df_regional_trains = dataframes.get("df_regionaltrains")

In [179]:
df_demographics.head(2)

,cmun,municipality_clean,province_clean,0-17,18-24,25-34,35-54,55+,male,female,total_population
0,1001,alegria-dulantzi,araba/alava,615,250,268,1005,827,1525,1440,2965
1,1002,amurrio,araba/alava,1826,588,862,2961,4075,5134,5178,10312

In [180]:
df_demographics = df_demographics[['cmun', '0-17', '18-24',
       '25-34', '35-54', '55+', 'male', 'female', 'total_population']]

In [181]:
df_municipalities.head(2)

,cmun,municipality,municipality_1,municipality_2,province,autonomous_community,latitude,longitude,altitude
0,1001,Alegría-Dulantzi,alegriadulantzi,NaN,Álava,País Vasco,42.84149,-2.513507,561.6857
1,1002,Amurrio,amurrio,NaN,Álava,País Vasco,43.05265,-3.001022,219.6910

In [182]:
df_municipalities.columns

Index(['cmun', 'municipality', 'municipality_1', 'municipality_2', 'province',
       'autonomous_community', 'latitude', 'longitude', 'altitude'],
      dtype='object')

In [183]:
df_municipalities = df_municipalities[['cmun', 'municipality', 'province',
       'autonomous_community', 'latitude', 'longitude', 'altitude']]

In [184]:
df_pueblos = pd.merge(df_municipalities,df_demographics, how="left", on="cmun")
df_pueblos

,cmun,municipality,province,autonomous_community,latitude,longitude,altitude,0-17,18-24,25-34,35-54,55+,male,female,total_population
0,1001,Alegría-Dulantzi,Álava,País Vasco,42.84149,-2.513507,561.68570,615,250,268,1005,827,1525,1440,2965
1,1002,Amurrio,Álava,País Vasco,43.05265,-3.001022,219.69100,1826,588,862,2961,4075,5134,5178,10312
2,1003,Aramaio,Álava,País Vasco,43.05400,-2.566000,381.87970,218,113,108,349,592,709,671,1380
3,1004,Artziniega,Álava,País Vasco,43.12220,-3.128209,196.98080,352,127,146,576,655,914,942,1856
4,1006,Armiñón,Álava,País Vasco,42.72305,-2.872574,463.58150,42,20,18,96,70,127,119,246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8017,12072,Llucena/Lucena del Cid,Castellón,Valencia,40.13850,-0.279997,564.10640,176,98,137,402,603,709,707,1416
8018,12901,"Alqueries, les/Alquerías del Niño Perdido",Castellón,Valencia,39.89653,-0.113446,25.46689,827,327,409,1497,1476,2279,2257,4536
8019,46013,Alboraia/Alboraya,Valencia,Valencia,39.49935,-0.349783,10.95999,4645,2168,2537,8575,8334,12719,13540,26259
8020,46176,Montroi/Montroy,Valencia,Valencia,39.34037,-0.614546,142.12200,563,217,394,1153,1137,1828,1636,3464
8021,46255,Vilallonga/Villalonga,Valencia,Valencia,38.88487,-0.209364,110.53350,760,339,548,1467,1627,2353,2388,4741

In [185]:
df_pueblos = df_pueblos[['cmun', 'municipality', 'province', 'autonomous_community',  'altitude', 'longitude', 'latitude'
       ,'0-17', '18-24', '25-34', '35-54', '55+', 'male', 'female',
       'total_population']]

In [186]:
df_pueblos.head(2)

,cmun,municipality,province,autonomous_community,altitude,longitude,latitude,0-17,18-24,25-34,35-54,55+,male,female,total_population
0,1001,Alegría-Dulantzi,Álava,País Vasco,561.6857,-2.513507,42.84149,615,250,268,1005,827,1525,1440,2965
1,1002,Amurrio,Álava,País Vasco,219.6910,-3.001022,43.05265,1826,588,862,2961,4075,5134,5178,10312

In [187]:
df_pueblos = df_pueblos.merge(df_industry, how="left", on="cmun")

In [188]:
df_distances.columns

Index(['cmun', 'municipality_name', 'province', 'altitude', 'longitude',
       'latitude', 'nearest_airport', 'closest_distance_airport',
       'nearest_train_station', 'closest_distance_train',
       'closest_distance_hospital', 'nearest_hospital',
       'closest_distance_school', 'nearest_school'],
      dtype='object')

In [189]:
df_distances = df_distances[['cmun', 'nearest_airport', 'closest_distance_airport',
       'nearest_train_station', 'closest_distance_train',
       'closest_distance_hospital', 'nearest_hospital',
       'closest_distance_school', 'nearest_school']]

In [190]:
df_pueblos = df_pueblos.merge(df_distances, how="left", on="cmun")

In [191]:
df_climate.columns

Index(['cmun', 'municipality', 'province', 'altitude', 'longitude', 'latitude',
       'Koppen_Climate', 'description'],
      dtype='object')

In [192]:
df_climate = df_climate[['cmun', 'Koppen_Climate', 'description']]

In [193]:
df_pueblos = df_pueblos.merge(df_climate, how="left", on="cmun")

In [194]:
df_connectivity = df_connectivity[['cmun', 'number_of_houses', 'VDSL_30Mbps', 'fixed_wireless',
                                    'FTTH', 'HFC', 'reception_30Mbps','reception_100Mbps', 'reception_1Gbps', 
                                    '4G', '5G', '5G_3,5GHz']]

In [195]:
df_pueblos = df_pueblos.merge(df_connectivity, how="left", on="cmun")

In [196]:
df_regional_trains = df_regional_trains[["cmun", "count_of_stations", "suburban_train"]]

In [197]:
df_pueblos = df_pueblos.merge(df_regional_trains, how="left", on="cmun")

In [198]:
df_pueblos

,cmun,municipality,province,autonomous_community,altitude,longitude,latitude,0-17,18-24,25-34,...,FTTH,HFC,reception_30Mbps,reception_100Mbps,reception_1Gbps,4G,5G,"5G_3,5GHz",count_of_stations,suburban_train
0,1001,Alegría-Dulantzi,Álava,País Vasco,561.68570,-2.513507,42.84149,615,250,268,...,0.99,0.00,1.00,0.81,0.15,1.00,0.01,0.0,NaN,NaN
1,1002,Amurrio,Álava,País Vasco,219.69100,-3.001022,43.05265,1826,588,862,...,0.92,0.00,0.93,0.87,0.89,1.00,0.96,0.0,5.0,1.0
2,1003,Aramaio,Álava,País Vasco,381.87970,-2.566000,43.05400,218,113,108,...,0.85,0.00,0.89,0.78,0.84,1.00,0.60,0.0,NaN,NaN
3,1004,Artziniega,Álava,País Vasco,196.98080,-3.128209,43.12220,352,127,146,...,0.87,0.00,0.98,0.95,0.97,1.00,0.84,0.0,NaN,NaN
4,1006,Armiñón,Álava,País Vasco,463.58150,-2.872574,42.72305,42,20,18,...,0.87,0.00,0.99,0.84,0.90,0.96,0.00,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8020,12072,Llucena/Lucena del Cid,Castellón,Valencia,564.10640,-0.279997,40.13850,176,98,137,...,0.88,0.00,0.99,0.89,0.89,0.98,0.93,0.0,NaN,NaN
8021,12901,"Alqueries, les/Alquerías del Niño Perdido",Castellón,Valencia,25.46689,-0.113446,39.89653,827,327,409,...,0.95,0.00,1.00,0.95,0.95,1.00,0.96,0.0,NaN,NaN
8022,46013,Alboraia/Alboraya,Valencia,Valencia,10.95999,-0.349783,39.49935,4645,2168,2537,...,0.98,0.71,1.00,0.98,0.98,1.00,1.00,1.0,2.0,0.0
8023,46176,Montroi/Montroy,Valencia,Valencia,142.12200,-0.614546,39.34037,563,217,394,...,0.52,0.00,1.00,0.37,0.06,0.98,0.75,0.0,NaN,NaN
8024,46255,Vilallonga/Villalonga,Valencia,Valencia,110.53350,-0.209364,38.88487,760,339,548,...,0.95,0.00,0.94,0.88,0.89,0.95,0.01,0.0,NaN,NaN

In [199]:
df_pueblos.columns

Index(['cmun', 'municipality', 'province', 'autonomous_community', 'altitude',
       'longitude', 'latitude', '0-17', '18-24', '25-34', '35-54', '55+',
       'male', 'female', 'total_population', 'n_industry', 'n_construction',
       'n_info_communications', 'n_financial_insurance', 'n_real_estate',
       'n_professional_technical', 'n_eduation_health_social', 'n_other',
       'nearest_airport', 'closest_distance_airport', 'nearest_train_station',
       'closest_distance_train', 'closest_distance_hospital',
       'nearest_hospital', 'closest_distance_school', 'nearest_school',
       'Koppen_Climate', 'description', 'number_of_houses', 'VDSL_30Mbps',
       'fixed_wireless', 'FTTH', 'HFC', 'reception_30Mbps',
       'reception_100Mbps', 'reception_1Gbps', '4G', '5G', '5G_3,5GHz',
       'count_of_stations', 'suburban_train'],
      dtype='object')

In [200]:
df_pueblos = df_pueblos[
    ['cmun', 
     'municipality', 
     'province', 
     'autonomous_community', 
     'altitude',
     'longitude', 
     'latitude', 
     '0-17', 
     '18-24', 
     '25-34', 
     '35-54', 
     '55+',
     'male', 
     'female', 
     'total_population', 
     'n_industry', 
     'n_construction',
     'n_info_communications', 
     'n_financial_insurance', 
     'n_real_estate',
     'n_professional_technical', 
     'n_eduation_health_social', 
     'n_other',
     'nearest_airport', 
     'closest_distance_airport', 
     'nearest_train_station',
     'closest_distance_train', 
     'closest_distance_hospital',
     'nearest_hospital', 
     'closest_distance_school', 
     'nearest_school',
     'Koppen_Climate', 
     'description', 
     'number_of_houses', 
     'VDSL_30Mbps',
     'fixed_wireless', 
     'FTTH', 
     'HFC', 
     'reception_30Mbps',
     'reception_100Mbps', 
     'reception_1Gbps', 
     '4G', 
     '5G', 
     '5G_3,5GHz',
     'count_of_stations', 
     'suburban_train']
]

In [ ]:
df_pueblos.columns = df_pueblos.columns.str.lower().str.replace('_x', '')

In [202]:
df_pueblos.shape

(8025, 46)

In [203]:
df_pueblos.to_csv("../data/processed/aggregated_pueblos.csv", index=False)