In [1]:
import sys
import os
import re
sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), '..')))

import pandas as pd
import plotly.express as px
import numpy as np

from scripts.accent_cleaner import AccentCleaner
from scripts.column_aligner import ColumnAligner
from scripts.utils import split_at_char, replace_with

In [2]:
df_raw = pd.read_csv("../data/raw/68542.csv", sep=";", decimal=",")

In [3]:
df_raw.head()

,National Total,Provinces,Municipalities,Sex,Age,Periodo,Total
0,National Total,NaN,NaN,Males,All ages,2024,23.826.871
1,National Total,NaN,NaN,Males,All ages,2023,23.565.593
2,National Total,NaN,NaN,Males,All ages,2022,23.288.747
3,National Total,NaN,NaN,Males,All ages,2021,23.248.611
4,National Total,NaN,NaN,Males,0 years old,2024,164.763

In [4]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10018440 entries, 0 to 10018439
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   National Total  object
 1   Provinces       object
 2   Municipalities  object
 3   Sex             object
 4   Age             object
 5   Periodo         int64
 6   Total           object
dtypes: int64(1), object(6)
memory usage: 535.0+ MB

In [5]:
df_raw.sample(15)

,National Total,Provinces,Municipalities,Sex,Age,Periodo,Total
5505388,National Total,28 Madrid,28903 Tres Cantos,Total,60 years old,2024,827
2401910,National Total,13 Ciudad Real,13002 Agudo,Females,2 years old,2022,6
1086210,National Total,08 Barcelona,08017 Balenyà,Females,27 years old,2022,26
2501810,National Total,13 Ciudad Real,13083 Torralba de Calatrava,Total,89 years old,2022,15
3338887,National Total,18 Granada,18036 Cájar,Total,54 years old,2021,96
3402367,National Total,18 Granada,18100 Huétor Tájar,Total,12 years old,2021,123
2960523,National Total,16 Cuenca,16215 Tragacete,Total,17 years old,2021,1
7905103,National Total,43 Tarragona,"43054 Espluga de Francolí, L'",Females,24 years old,2021,19
6990703,National Total,37 Salamanca,"37349 Vídola, La",Females,6 years old,2021,0
9789650,National Total,50 Zaragoza,50115 Fuentes de Ebro,Males,23 years old,2022,28
2814463,National Total,16 Cuenca,16070 Castillejo-Sierra,Females,18 years old,2021,0
9643665,National Total,49 Zamora,49266 Villárdiga,Total,43 years old,2023,1
2658847,National Total,"15 Coruña, A",15032 Curtis,Males,78 years old,2021,11
6831803,National Total,37 Salamanca,37214 Nava de Francia,Females,61 years old,2021,1
389311,National Total,04 Almería,04036 Chercos,Males,18 years old,2021,2

In [6]:
df_raw.drop(columns=['National Total'], inplace=True)

In [7]:
df_raw.isnull().sum()

Provinces          1224
Municipalities    64872
Sex                   0
Age                   0
Periodo               0
Total               918
dtype: int64

In [8]:
df_municipalities_null = df_raw[df_raw['Municipalities'].isnull()]
df_municipalities_null[df_municipalities_null["Provinces"] == "08 Barcelona"]

,Provinces,Municipalities,Sex,Age,Periodo,Total
1064880,08 Barcelona,NaN,Males,All ages,2024,2.870.721
1064881,08 Barcelona,NaN,Males,All ages,2023,2.830.260
1064882,08 Barcelona,NaN,Males,All ages,2022,2.783.698
1064883,08 Barcelona,NaN,Males,All ages,2021,2.785.890
1064884,08 Barcelona,NaN,Males,0 years old,2024,20.185
...,...,...,...,...,...,...
1066099,08 Barcelona,NaN,Total,99 years old,2021,1.096
1066100,08 Barcelona,NaN,Total,100 years or more,2024,1.982
1066101,08 Barcelona,NaN,Total,100 years or more,2023,1.807
1066102,08 Barcelona,NaN,Total,100 years or more,2022,1.707
1066103,08 Barcelona,NaN,Total,100 years or more,2021,1.546

### We have information about provinces without the municipalities, we should drop them

In [9]:
df_raw[df_raw['Provinces'] == "25 Lleida"].sample(5)

,Provinces,Municipalities,Sex,Age,Periodo,Total
4803365,25 Lleida,"25092 Floresta, La",Males,96 years old,2023,0
4767624,25 Lleida,25056 Bovera,Males,35 years old,2024,2
4964600,25 Lleida,25250 Vilanova de Meià,Males,13 years old,2024,1
4898817,25 Lleida,25182 Puigverd de Lleida,Males,91 years old,2023,2
4861248,25 Lleida,25146 Navès,Females,83 years old,2024,0

In [10]:

prov_null = df_raw[["Provinces", "Municipalities"]]

prov_null[(prov_null["Provinces"].isnull()) & (prov_null["Municipalities"].isnull())]

     Provinces Municipalities
0          NaN            NaN
1          NaN            NaN
2          NaN            NaN
3          NaN            NaN
4          NaN            NaN
...        ...            ...
1219       NaN            NaN
1220       NaN            NaN
1221       NaN            NaN
1222       NaN            NaN
1223       NaN            NaN

[1224 rows x 2 columns]

In [11]:

prov_null[(prov_null["Provinces"].isnull())]

     Provinces Municipalities
0          NaN            NaN
1          NaN            NaN
2          NaN            NaN
3          NaN            NaN
4          NaN            NaN
...        ...            ...
1219       NaN            NaN
1220       NaN            NaN
1221       NaN            NaN
1222       NaN            NaN
1223       NaN            NaN

[1224 rows x 2 columns]

In [12]:
df_raw[df_raw['Total'].isnull()].sample(30)

          Provinces Municipalities      Sex           Age  Periodo Total
9348101  48 Bizkaia       48916 NA  Females   0 years old     2023   NaN
9348626  48 Bizkaia       48916 NA    Total  29 years old     2022   NaN
9348211  48 Bizkaia       48916 NA  Females  27 years old     2021   NaN
9347821  48 Bizkaia       48916 NA    Males  32 years old     2023   NaN
9347930  48 Bizkaia       48916 NA    Males  59 years old     2022   NaN
9348383  48 Bizkaia       48916 NA  Females  70 years old     2021   NaN
9348334  48 Bizkaia       48916 NA  Females  58 years old     2022   NaN
9348087  48 Bizkaia       48916 NA    Males  98 years old     2021   NaN
9348091  48 Bizkaia       48916 NA    Males  99 years old     2021   NaN
9348826  48 Bizkaia       48916 NA    Total  79 years old     2022   NaN
9348130  48 Bizkaia       48916 NA  Females   7 years old     2022   NaN
9348347  48 Bizkaia       48916 NA  Females  61 years old     2021   NaN
9348041  48 Bizkaia       48916 NA    Males  87 years old     2023   NaN
9347854  48 Bizkaia       48916 NA    Males  40 years old     2022   NaN
9348182  48 Bizkaia       48916 NA  Females  20 years old     2022   NaN
9348862  48 Bizkaia       48916 NA    Total  88 years old     2022   NaN
9348133  48 Bizkaia       48916 NA  Females   8 years old     2023   NaN
9348535  48 Bizkaia       48916 NA    Total   6 years old     2021   NaN
9347903  48 Bizkaia       48916 NA    Males  52 years old     2021   NaN
9348007  48 Bizkaia       48916 NA    Males  78 years old     2021   NaN
9348767  48 Bizkaia       48916 NA    Total  64 years old     2021   NaN
9348117  48 Bizkaia       48916 NA  Females   4 years old     2023   NaN
9347907  48 Bizkaia       48916 NA    Males  53 years old     2021   NaN
9348670  48 Bizkaia       48916 NA    Total  40 years old     2022   NaN
9347950  48 Bizkaia       48916 NA    Males  64 years old     2022   NaN
9348351  48 Bizkaia       48916 NA  Females  62 years old     2021   NaN
9347763  48 Bizkaia       48916 NA    Males  17 years old     2021   NaN
9348870  48 Bizkaia       48916 NA    Total  90 years old     2022   NaN
9348799  48 Bizkaia       48916 NA    Total  72 years old     2021   NaN
9348715  48 Bizkaia       48916 NA    Total  51 years old     2021   NaN

In [13]:
df_raw.sample(20)

,Provinces,Municipalities,Sex,Age,Periodo,Total
7399155,40 Segovia,40163 Puebla de Pedraza,Males,17 years old,2021,0
6636229,37 Salamanca,37039 Bañobárez,Total,26 years old,2023,1
9634188,49 Zamora,49259 Villanueva de las Peras,Males,20 years old,2024,0
4533133,24 León,24078 Gordoncillo,Females,62 years old,2023,2
888915,06 Badajoz,"06090 Nava de Santiago, La",Males,71 years old,2021,5
533001,05 Ávila,05058 Cepeda la Mora,Females,37 years old,2023,1
563001,05 Ávila,05084 Gilbuena,Total,91 years old,2023,1
9458585,49 Zamora,49099 Losacio,Females,81 years old,2023,0
8156525,44 Teruel,44085 Cosa,Total,48 years old,2023,1
2862722,16 Cuenca,16116 Lagunaseca,Total,47 years old,2022,0
5246810,27 Lugo,"27037 Nogais, As",Females,83 years old,2022,7
7249880,40 Segovia,40021 Arevalillo de Cega,Males,31 years old,2024,0
4412318,23 Jaén,23076 Santa Elena,Total,50 years old,2022,6
7466922,40 Segovia,40225 Villacastín,Females,27 years old,2022,4
9576861,49 Zamora,49204 Santa María de Valverde,Males,70 years old,2023,2
8977156,47 Valladolid,47036 Casasola de Arión,Males,84 years old,2024,0
7164569,39 Cantabria,39053 Polaciones,Females,21 years old,2023,2
6933776,37 Salamanca,"37300 Santos, Los",Total,55 years old,2024,12
5278171,27 Lugo,"27063 Valadouro, O",Males,69 years old,2021,11
8528101,45 Toledo,45142 Quintanar de la Orden,Females,20 years old,2023,54

In [14]:
df_raw = df_raw.dropna(subset=["Provinces", "Municipalities", "Total"], how="any")

In [15]:
df_2024 = df_raw[df_raw['Periodo'] == 2024].copy()

In [16]:
df_2024.reset_index(drop=True, inplace=True)

In [17]:
idx = pd.Index(["Provinces", "Municipalities", "Sex", "Age", "Periodo", "Total"])
eng = pd.Index(["province", "municipality", "sex", "age", "year", "total"])

df_2024.rename(columns=dict(zip(idx, eng)), inplace=True)

### Get the correct types

In [18]:
df_2024["total"] = pd.to_numeric(df_2024["total"].str.replace(".", "", regex=False)).astype("int32")

In [19]:
df_2024 = df_2024[df_2024["age"] != "All ages"]

In [20]:
(df_2024["age"].str.contains(r"^\d"))

1          True
2          True
3          True
4          True
5          True
           ...
2488387    True
2488388    True
2488389    True
2488390    True
2488391    True
Name: age, Length: 2463996, dtype: bool

In [21]:
from scripts.utils import split_column_at

df_2024["cprov"] = split_column_at(df_2024, "province", " ", index=0)
df_2024["province"] = split_column_at(df_2024, "province", " ", index=1)
df_2024["cmun"] = split_column_at(df_2024, "municipality", " ", index=0)
df_2024["municipality"] = split_column_at(df_2024, "municipality", " ", index=1)
df_2024["age"] = split_column_at(df_2024, "age", " ", index=0)

In [22]:
df_2024["age"] = pd.to_numeric(df_2024["age"].str.replace(".", "", regex=False)).astype("int32")

In [23]:
cleaner = AccentCleaner([df_2024], ['municipality', 'province'])
cleaner.cleanAccents()

In [24]:
df_2024.sample(20)

,province,municipality,sex,age,year,total,cprov,cmun,municipality_clean,province_clean
1853412,Segovia,Veganzones,Total,71,2024,0,40,40222,veganzones,segovia
346098,Barcelona,Sora,Males,11,2024,2,08,08272,sora,barcelona
534515,Cáceres,Valverde,Total,34,2024,4,10,10204,valverde,caceres
280993,Barcelona,Castell,Males,84,2024,0,08,08057,castell,barcelona
270976,Barcelona,Borredà,Females,63,2024,3,08,08024,borredà,barcelona
399382,Burgos,Huérmeces,Males,51,2024,1,09,09172,huermeces,burgos
271229,Barcelona,"Bruc,",Females,10,2024,13,08,08025,"bruc,",barcelona
730864,Cuenca,Santa,Females,33,2024,2,16,16196,santa,cuenca
1161122,León,Villademor,Females,55,2024,1,24,24207,villademor,leon
2467133,Zaragoza,San,Females,58,2024,1,50,50234,san,zaragoza
2221165,Valladolid,Almenara,Total,12,2024,0,47,47008,almenara,valladolid
126319,Ávila,Bularros,Total,42,2024,1,05,05040,bularros,avila
2016841,Teruel,Cabra,Total,96,2024,0,44,44048,cabra,teruel
1092967,Jaén,Peal,Total,36,2024,69,23,23066,peal,jaen
1095840,Jaén,Santiago,Males,53,2024,6,23,23077,santiago,jaen
1260371,"Rioja,",Grávalos,Total,58,2024,2,26,26070,gravalos,"rioja,"
1204156,Lleida,Miralcamp,Males,45,2024,9,25,25135,miralcamp,lleida
1861818,Sevilla,Aznalcóllar,Females,11,2024,27,41,41013,aznalcollar,sevilla
976269,Gipuzkoa,Legazpi,Females,26,2024,32,20,20051,legazpi,gipuzkoa
599168,Ciudad,Almadenejos,Males,19,2024,0,13,13012,almadenejos,ciudad

In [25]:
df_2024["province"] = split_column_at(df_2024, "province", " ", index=0)

In [26]:
df_2024[df_2024['cmun'] == 1902]

Empty DataFrame
Columns: [province, municipality, sex, age, year, total, cprov, cmun, municipality_clean, province_clean]
Index: []

In [27]:
df_2024["cmun"] = df_2024.apply(lambda row: str(row["cmun"])[len(str(row["cprov"])):], axis=1)

In [28]:
df_2024.sample(20)

,province,municipality,sex,age,year,total,cprov,cmun,municipality_clean,province_clean
2289504,Bizkaia,Munitibar-Arbatzegi,Males,11,2024,1,48,007,munitibar-arbatzegi,bizkaia
1368974,Málaga,Algarrobo,Total,31,2024,86,29,005,algarrobo,malaga
499140,Cáceres,Guijo,Males,53,2024,13,10,089,guijo,caceres
59244,Alicante/Alacant,Cocentaina,Females,83,2024,55,03,056,cocentaina,alicante/alacant
1810086,Segovia,Collado,Males,95,2024,0,40,059,collado,segovia
351095,Barcelona,Torrelles,Females,10,2024,10,08,288,torrelles,barcelona
816600,Girona,Vilamalla,Females,89,2024,3,17,226,vilamalla,girona
1460838,Navarra,Lodosa,Total,95,2024,4,31,157,lodosa,navarra
868453,Granada,Nevada,Males,24,2024,4,18,903,nevada,granada
1711348,Salamanca,Rágama,Females,93,2024,0,37,265,ragama,salamanca
2160518,Valencia/València,Bugarra,Females,55,2024,6,46,076,bugarra,valencia/valencia
787898,Girona,Pau,Total,49,2024,5,17,128,pau,girona
267204,Barcelona,Avinyó,Males,65,2024,20,08,012,avinyo,barcelona
1098973,Jaén,Torres,Females,24,2024,2,23,090,torres,jaen
59896,Alicante/Alacant,Cox,Total,21,2024,87,03,058,cox,alicante/alacant
688499,Cuenca,Belmonte,Total,100,2024,4,16,033,belmonte,cuenca
2090253,Toledo,Cobeja,Total,68,2024,25,45,051,cobeja,toledo
2088235,Toledo,Cazalegas,Males,90,2024,2,45,045,cazalegas,toledo
2401214,Zaragoza,Albeta,Males,31,2024,0,50,011,albeta,zaragoza
2304088,Bizkaia,Leioa,Total,9,2024,387,48,054,leioa,bizkaia

In [29]:
df_2024["cprov"] = pd.to_numeric(df_2024["cprov"].str.replace(".", "", regex=False)).astype("int32")
df_2024["cmun"] = pd.to_numeric(df_2024["cmun"].str.replace(".", "", regex=False)).astype("int32")

In [30]:
df_2024.sample(20)

,province,municipality,sex,age,year,total,cprov,cmun,municipality_clean,province_clean
1772570,Cantabria,Hermandad,Total,13,2024,6,39,32,hermandad,cantabria
2053571,Teruel,Pozuel,Males,4,2024,0,44,190,pozuel,teruel
1193211,Lleida,Fondarella,Females,14,2024,5,25,93,fondarella,lleida
2033477,Teruel,Gargallo,Females,4,2024,0,44,116,gargallo,teruel
899788,Guadalajara,Escariche,Females,45,2024,0,19,111,escariche,guadalajara
2191075,Valencia/València,Montroi/Montroy,Females,12,2024,14,46,176,montroi/montroy,valencia/valencia
1325209,Madrid,Cobeña,Total,24,2024,98,28,41,cobena,madrid
2436111,Zaragoza,Jarque,Males,44,2024,5,50,130,jarque,zaragoza
322363,Barcelona,Sant,Females,42,2024,293,8,194,sant,barcelona
165997,Ávila,Papatrigo,Females,42,2024,3,5,179,papatrigo,avila
2043095,Teruel,Miravete,Total,34,2024,0,44,150,miravete,teruel
916519,Guadalajara,Mazarete,Males,48,2024,0,19,175,mazarete,guadalajara
197968,Badajoz,Baterno,Total,87,2024,2,6,17,baterno,badajoz
112361,Almería,Turre,Males,58,2024,35,4,93,turre,almeria
1993564,Tarragona,Tortosa,Total,75,2024,341,43,155,tortosa,tarragona
901335,Guadalajara,Estriégana,Females,62,2024,0,19,116,estriegana,guadalajara
157411,Ávila,Navacepedilla,Females,24,2024,0,5,151,navacepedilla,avila
986266,Gipuzkoa,Astigarraga,Males,27,2024,38,20,903,astigarraga,gipuzkoa
2098341,Toledo,Huerta,Males,98,2024,0,45,78,huerta,toledo
109179,Almería,Senés,Total,38,2024,2,4,82,senes,almeria

In [31]:
df_2024.to_csv("../data/processed/filtered_age.csv", index=False)